@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is a photo and video gallery of the Formula 1 United States Grand Prix 2013 which took place in Austin, Texas.</p>
