@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    701 5th Ave.<br />
    Seattle, WA 98104<br />
    <abbr title="Phone">P:</abbr>
    206.465.3234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@gilrael.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gilrael.com</a>
</address>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />