@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    701 5th Ave.<br />
    Suite 830<br />
    Seattle, WA 98104<br />
    <abbr title="Phone">P:</abbr>
    206.465.3234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@gilrael.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gilrael.com</a>
</address>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!--
//facebook share
<a href="https://www.facebook.com/sharer/sharer.php?
     u=@Url.Encode(Request.Url.ToString())&t=@Url.Encode(Title)"
   target="_blank">
    <img src="/images/social-buttons/Facebook.png">
</a>

// twitter
<a href="https://twitter.com/intent/tweet?
   url=@Url.Encode(Request.Url.ToString())&text=@Url.Encode(Title)"
   target="_blank" title="Tweet">
    <img src="/images/social-buttons/Twitter.png">
</a>

// google
<a href="https://plus.google.com/share?
   url=@Url.Encode(Request.Url.ToString())"
   target="_blank" title="Share on Google+">
    <img src="/images/social-buttons/GooglePlus.png">
</a>
-->