@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <br />
    This site is a photo and video gallery of the Formula 1 United States Grand Prix which took place in Austin, Texas in 2013.
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/images/IMAG1433.svg" width="900" height="500"/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />











</p>
