@{
    ViewData["Title"] = "Video Gallery";
}

        <div class="item active">
            <center>
                <video width="320" height="240" controls>
                    <source src="~/images/VIDEO0266.mp4" type="video/mp4">
                </video>
                <p>
                    F1 USGP 2013 Lap 1 Turn 11

                </p>
            </center>
        </div>
        <div class="item active">
            <center>
                <video width="320" height="240" controls>
                    <source src="~/images/VIDEO0267.mp4" type="video/mp4">
                </video>
                <p>
                    Sebastian Vettel Turn 11

                </p>
            </center>

        </div>
        <div class="item active">
            <center>
                <video width="320" height="240" controls>
                    <source src="~/images/VIDEO0271.mp4" type="video/mp4">
                </video>
                <p>
                    Sebastian Vettel Victory Burn Out Turn 11

                </p>
            </center>

       </div>

